<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>/home/home.jsp</welcome-file>
	</welcome-file-list>
	
	
	<!-- ====================LEE==================== -->
	<servlet>
		<servlet-name>WaitingServlet</servlet-name>
		<servlet-class>com.lee.waiting.controller.WaitingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WaitingServlet</servlet-name>
		<url-pattern>/WaitingServlet</url-pattern>
	</servlet-mapping>
	
	
	<!-- ====================mike==================== -->
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.mike.user.controller.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user/updating</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user/register</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user/registering</url-pattern>
	</servlet-mapping>
	
	<filter>
	  <filter-name>LoginFilter</filter-name>
	  <filter-class>com.mike.user.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>LoginFilter</filter-name>
	  <url-pattern>/lee/chatter/index.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
	  <filter-name>LoginFilter</filter-name>
	  <url-pattern>/user/list</url-pattern>
	</filter-mapping>
	
	<filter>
	  <filter-name>AdminFilter</filter-name>
	  <filter-class>com.mike.user.filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>AdminFilter</filter-name>
	  <url-pattern>/user/list</url-pattern>
	</filter-mapping>
	
	
	<!-- ===================shiyen===================== -->
	<servlet>
		<servlet-name>ForumServlet</servlet-name>
		<servlet-class>com.shiyen.forum.controller.ForumServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForumServlet</servlet-name>
		<url-pattern>/forum</url-pattern>
	</servlet-mapping>
</web-app>
